.homePage{
        display:flex;
        justify-content: center;
        align-items: flex-end;
        width: 375px;
        height: 812px;
        background-image: url(../../assets/Images/Home.svg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: none;
        margin: 0 auto;
}