.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 84px;
    max-width: 375px;
    margin: 0 auto;
    margin-top: -84px;
    background-color: white;
}