.launch-container{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    width: 375px;
    height: 812px;
    background-image: url(../../assets/Images/LaunchScreen2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: none;
    margin: 0 auto;
}

.launch-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EE6C4D;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    width: 345px;
    height: 56px;
    margin: 708px 17px 48px 16px;
    border-radius: 8px;
}